.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* 🔥 en vez de width: 100% */
  z-index: 1000;

  box-sizing: border-box; /* 🔥 clave */

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;

  background-color: #472825;
}

.logo {
  display: flex;
  align-items: center;
  color: #FFF4E2;
  font-weight: 700;
  font-size: 20px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #FDE4BC;

  padding: 8px 16px;
  border-radius: 8px;

  border: 2px solid transparent;

  font-weight: 500;

  transition: all 0.25s ease;
}

/* efecto cuando pasas el mouse */
.nav-links a:hover {
  border: 2px solid #D3AB80;
  background-color: rgba(255, 244, 226, 0.1);
  transform: translateY(-2px);
}

/* botón crear */
.crear-btn {
  background-color: #D3AB80;
  color: #472825 !important;
  font-weight: 600;
}

.crear-btn:hover {
  background-color: #FDE4BC;
  border: 2px solid #FDE4BC;
}
.profile-container {
  position: relative;
  cursor: pointer;
}

.profile-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 16px; /* 🔥 igual que los links */
  border-radius: 8px;

  border: 2px solid transparent;

  color: #FDE4BC;
  font-weight: 500;

  transition: all 0.25s ease;
}

.profile-btn:hover {
  border: 2px solid #D3AB80;
  background-color: rgba(255, 244, 226, 0.1);
  transform: translateY(-2px);
  color: #FDE4BC;
}

.profile-dropdown {
  position: absolute;
  top: 45px;
  right: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  width: 180px;
  z-index: 9999;
  overflow: hidden;
  border: 1px solid #e6c7a3;
}

.dropdown-item {
  padding: 12px;
  display: block;
  text-decoration: none;
  color: #472825;
  font-size: 0.9rem;
}

.dropdown-item:hover {
  background: #FFF4E2;
}

.logout {
  cursor: pointer;
}